* {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Graduate-Regular'
}

@font-face {
  font-family: 'Graduate-Regular';
  src: url('../font/Graduate-Regular.ttf');
}

body {
  background-image: url('../images/football-background.jpg');
  background-size: cover;
}

.white {
  color: white;
}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: scale-down
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  margin: 2rem 0;
}

.pro-bowl-answers {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: .5rem;
  margin: 1rem 0;
}

.pro-bowl-answers > button {
  white-space: normal;
}

img {
width: 600px;
height: 300px;
object-fit: contain;
}

.swami-title,
.swami-title-2 {
  width: auto;
  height: 150px;
}

.swami-title:hover,
.swami-title-2:hover {
  cursor: pointer;
}

.is-flipped {
  transform: rotateY(180deg);
  src: url(../images/swami-flip.png);
}

.disclaimer {
  color:white;
}

.football-img {
  width: 25px;
  height: 25px
}

.difficulty {
  padding-top: 3rem;
}

.header {
  padding-top: 3rem;
}

#home-btn:hover {
  background-color: grey;
}

.intro {
  background-color: whitesmoke;
  box-shadow: 3px 3px grey, -1em 0 .4em grey;
  border-radius: .5rem;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  background-color: limegreen;
  outline: black;
}

.btn.wrong {
  background-color: red;
  color:black;
}
